* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.center {
  padding: 0 calc(50% - 1140px / 2);
}

/* ====================================================== */
.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222;
  padding: 20px 0px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-link {
  margin-right: 20px;
}

.header-account-link {
  margin: 0 20px;
}

.header-right {
  position: relative;
}

/* ====================================================== */
.promo {
  background-color: #f1e4e6;
}

.promo-wrap {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-title {
  font-weight: normal;
  color: #f16d7f;
}

.promo-navigation {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.navigation-link {
  color: #636363;
}

.navigation-link-3 {
  color: #f16d7f;
  font-weight: 700;
}

.navigation-link:hover {
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ====================================================== */
ul {
  list-style: none;
  display: block;
}

.items-filter {
  position: relative;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-filter {
  position: absolute;
  background-color: white;
  width: 360px;
  left: 20px;
  z-index: 2;
}

.item-filter-box {
  z-index: 2;
  position: absolute;
  background-color: white;
}

.filter-box {
  background: url(../img/arrow-filter.png) 98% 50% no-repeat;
}

.item-filter-box-1 {
  right: 50%;
  width: 170px;
}

.item-filter-box-2 {
  right: 40%;
  width: 80px;
}

.item-filter-box-3 {
  width: 90px;
  padding-right: 80px;
  right: 22%;
}

.filter {
  padding: 20px;
  cursor: pointer;
  display: block;
  outline: none;
  margin-right: 100px;
  color: #020101;
  background: url(../img/filter.svg) 80px 22.5px no-repeat;
}

.filter:hover {
  padding: 20px;
  cursor: pointer;
  display: block;
  outline: none;
  margin-right: 100px;
  color: #f16d7f;
  background: url(../img/filter.png) 80px 22.5px no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filter-box {
  padding: 20px;
  cursor: pointer;
  display: block;
  outline: none;
}

.filter-box:hover {
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.subfilter {
  cursor: pointer;
  display: block;
  outline: none;
  margin: 10px 20px;
  padding: 10px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
}

.filter-link {
  display: block;
  margin: 15px 0px 0 45px;
  padding-bottom: 10px;
  color: gray;
}

.list-group-filter {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.list-group-filter-1 {
  margin: 0px auto -10px;
  width: 130px;
}

.list-group-filter-2 {
  margin: 0 auto -10px;
  width: 40px;
}

.list-group-filter-3 {
  margin: 0 auto -10px;
  width: 130px;
}

.list-group-item {
  list-style: none;
  width: 100px;
  margin: 10px -25px;
  padding: 5px;
}

.list-group-item-3 {
  list-style: none;
  width: 150px;
}

.items-cards {
  margin-top: 80px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-card {
  position: relative;
  width: 360px;
  margin-bottom: 30px;
}

.item-card:hover {
  cursor: pointer;
}

.item-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  background: rgba(58, 56, 56, 0.86);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.item-card:hover .item-cart {
  opacity: 1;
}

.card-add {
  cursor: pointer;
  padding: 15px 20px 15px 50px;
  background: url(../img/cart.png) 10% 50% no-repeat rgba(58, 56, 56, 0.86);
  border: 1px solid white;
  color: white;
}

.item-card-title {
  background-color: #f8f8f8;
  font-size: 10px;
  padding: 20px 30px;
  letter-spacing: 1.2px;
}

.item-card-text {
  font-weight: 300;
  margin: 18px 0;
}

.item-card-price {
  font-size: 16px;
  color: #f16d7f;
}

.items-navigation-list {
  padding: 15px 15px 10px;
  margin: 50px auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.page-link {
  color: #c4c4c4;
}

.page-link:hover {
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ====================================================== */
.additionally {
  background-color: #222224;
}

.additionally-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.additionally-card {
  width: 320px;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.additionally-subtitle {
  margin: 20px 0;
}

.additionally-text {
  font-weight: 300;
}

/* ====================================================== */
.subscribe {
  background-color: #ececec;
  background: url(../img/subscribe-bg.jpg) center no-repeat;
}

.subscribe-wrap {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-face {
  width: 25%;
  text-align: center;
}

.subscribe-text {
  font-style: italic;
  margin-top: 30px;
}

.subscribe-submite {
  text-align: center;
}

.subcscribe-title {
  font-weight: 700;
}

.subcscribe-subtitle {
  margin: 10px 0 30px;
  display: block;
  font-weight: 400;
}

.subscribe-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-botton-input {
  display: block;
  padding: 10px 20px;
  background-color: rgba(202, 202, 202, 0.4);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.subscribe-botton-submit {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  color: white;
  background-color: #f16d7f;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.subscribe-botton-submit:hover {
  background-color: white;
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ====================================================== */
.footer {
  height: 65px;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
}

.footer-media-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-media-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  content: "";
  margin: 0px 10px;
}

.footer-media-icon-1 {
  background: url(../img/facebook.png) center no-repeat;
}

.footer-media-icon-2 {
  background: url(../img/instagram.png) center no-repeat;
}

.footer-media-icon-3 {
  background: url(../img/pinterest.png) center no-repeat;
}

.footer-media-icon-4 {
  background: url(../img/twitter.png) center no-repeat;
}

.footer-media-icon-1:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/facebookhover.png) center no-repeat;
}

.footer-media-icon-2:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/instagrammhover.png) center no-repeat;
}

.footer-media-icon-3:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/pinteresthover.png) center no-repeat;
}

.footer-media-icon-4:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/twitterhover.png) center no-repeat;
}

.self-time-navigation a {
  text-decoration: none;
  color: white;
}

.selftime-link {
  font-size: 18px;
  margin-left: 30px;
}

.selftime-link:hover {
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1160px) {
  .wrap {
    width: 767px;
  }
  .center {
    padding: 0 calc(50% - 768px / 2);
  }
  .self-time-navigation {
    display: none;
  }
  .promo-navigation {
    display: none;
  }
  .promo-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item-filter {
    left: 0px;
    z-index: 2;
  }
  .item-filter-box-1 {
    right: 36%;
    width: 170px;
  }
  .item-filter-box-2 {
    right: 24%;
    width: 80px;
  }
  .item-filter-box-3 {
    width: 90px;
    padding-right: 80px;
    right: 0;
  }
  .items-cards {
    margin: 0;
    padding: 50px 0;
  }
  .item-card-9 {
    display: none;
  }
  .items-nav-page {
    display: none;
  }
  .additionally-wrap {
    padding: 50px 0px;
  }
}

@media (max-width: 767px) {
  .wrap {
    width: 320px;
    margin: 0 auto;
  }
  .center {
    padding: 0 calc(50% - 320px / 2);
  }
  .header-logo {
    padding: 0px 10px;
  }
  .header-burger {
    padding: 0px 10px;
  }
  .header-account-link {
    display: none;
  }
  .header-cart-link {
    display: none;
  }
  .item-filter {
    z-index: 5;
    left: 0px;
  }
  .filter {
    position: absolute;
    top: 0;
    left: -75px;
    height: 75px;
    width: 75px;
  }
  .filter span {
    display: none;
  }
  .filter:hover {
    position: absolute;
    top: 0;
    left: -75px;
    height: 75px;
    width: 75px;
  }
  .item-filter-box-1 {
    right: 180px;
    width: 100px;
  }
  .item-filter-box-2 {
    right: 120px;
    width: 60px;
  }
  .item-filter-box-3 {
    width: 70px;
    padding-right: 80px;
    right: -50px;
  }
  .item-filter-right {
    font-size: 12px;
  }
  .list-group-filter {
    margin: 0 20px 0 0;
    padding: 0 20px 5px;
  }
  .item-card {
    width: 320px;
  }
  .card-image {
    width: 320px;
  }
  .item-cart {
    height: 72%;
  }
  .additionally-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px;
  }
  .subscribe-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-face {
    width: 100%;
  }
  .footer {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px;
  }
}
