* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.center {
  padding: 0 calc(50% - 1140px / 2);
}

/* ====================================================== */
.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222;
  padding: 20px 0px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-burger {
  cursor: pointer;
}

.header-logo-link {
  cursor: pointer;
  margin-right: 20px;
}

.header-account-link {
  cursor: pointer;
  margin: 0 20px;
}

.header-right {
  position: relative;
}

/* ====================================================== */
.promo {
  background-color: #f1e4e6;
}

.promo-wrap {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-title {
  font-weight: normal;
  color: #f16d7f;
}

.promo-navigation {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.navigation-link {
  color: #636363;
}

.navigation-link-3 {
  color: #f16d7f;
  font-weight: 700;
}

.navigation-link:hover {
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* ====================================================== */
.item-filter {
  z-index: 100;
  display: none;
  padding: 50px 25px 0px;
  background-color: white;
  width: 232px;
  position: absolute;
  top: 58px;
  right: 0px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

summary::-o-details-marker {
  display: none;
}

.close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(../img/close.png) no-repeat;
}

.filter {
  display: block;
  outline: none;
}

.subfilters {
  cursor: pointer;
  display: block;
  outline: none;
  margin: 20px 0px;
  color: #f16d7f;
}

.filter-link {
  color: gray;
  display: block;
  margin: 0px 0px 10px 30px;
}

.menuburger {
  display: none;
  opacity: 0;
}

.menuburger:checked ~ .item-filter {
  display: block;
}

.menuburger:not(:checked) ~ .close {
  opacity: 0;
}

@media (max-width: 400px) {
  .item-filter {
    min-width: 320px;
    max-width: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-form {
  font-weight: 300;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 40px 0 60px;
}

.info-input {
  width: 360px;
  height: 45px;
  padding-left: 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.boxmale {
  margin: 20px 0px;
  font-size: 16px;
}

.text-form {
  font-size: 13px;
}

.info-button {
  cursor: pointer;
  color: white;
  border: 1px solid #f16d7f;
  padding: 15px 70px 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/arrowwhite.png) #f16d7f 80% 50% no-repeat;
}

.info-button:hover {
  background-color: white;
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: url(../img/arrowpink.png) 80% 50% no-repeat;
}

.info-advantages {
  font-size: 24px;
  font-weight: 300;
}

.tilte-advantages {
  padding: 40px;
}

.text-advantages {
  margin: 20px 40px;
}

.list {
  padding-left: 40px;
  margin-bottom: 10px;
  list-style: none;
  background: url(../img/checkregist.png) left no-repeat;
}

.subscribe {
  background-color: #ececec;
  background: url(../img/subscribe-bg.jpg) center no-repeat;
}

.subscribe-wrap {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-face {
  width: 25%;
  text-align: center;
}

.subscribe-text {
  font-style: italic;
  margin-top: 30px;
}

.subscribe-submite {
  text-align: center;
}

.subcscribe-title {
  font-weight: 700;
}

.subcscribe-subtitle {
  margin: 10px 0 30px;
  display: block;
  font-weight: 400;
}

.subscribe-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-botton-input {
  display: block;
  padding: 10px 20px;
  background-color: rgba(202, 202, 202, 0.4);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.subscribe-botton-submit {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  color: white;
  background-color: #f16d7f;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.subscribe-botton-submit:hover {
  background-color: white;
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ====================================================== */
.footer {
  height: 65px;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
}

.footer-media-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-media-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  content: "";
  margin: 0px 10px;
}

.footer-media-icon-1 {
  background: url(../img/facebook.png) center no-repeat;
}

.footer-media-icon-2 {
  background: url(../img/instagram.png) center no-repeat;
}

.footer-media-icon-3 {
  background: url(../img/pinterest.png) center no-repeat;
}

.footer-media-icon-4 {
  background: url(../img/twitter.png) center no-repeat;
}

.footer-media-icon-1:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/facebookhover.png) center no-repeat;
}

.footer-media-icon-2:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/instagrammhover.png) center no-repeat;
}

.footer-media-icon-3:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/pinteresthover.png) center no-repeat;
}

.footer-media-icon-4:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/twitterhover.png) center no-repeat;
}

.self-time-navigation a {
  text-decoration: none;
  color: white;
}

.selftime-link {
  font-size: 18px;
  margin-left: 30px;
}

.selftime-link:hover {
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1160px) {
  .wrap {
    width: 767px;
  }
  .center {
    padding: 0 calc(50% - 768px / 2);
  }
  .self-time-navigation {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrap {
    width: 320px;
    margin: 0 auto;
  }
  .center {
    padding: 0 calc(50% - 320px / 2);
  }
  .promo-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo-navigation {
    display: none;
  }
  .info-input {
    width: 320px;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
  }
  .info-form {
    margin: 0;
  }
  .header-logo {
    padding: 0px 10px;
  }
  .header-burger {
    padding: 0px 10px;
  }
  .header-account-link {
    display: none;
  }
  .header-cart-link {
    display: none;
  }
  .info-advantages {
    font-size: 16px;
  }
  .subscribe-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-face {
    width: 100%;
  }
  .footer {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 20px;
  }
}
