@media (max-width: 1160px) {
	.wrap {
		width: 767px;
	}

	.center {
		padding: 0 calc(50% - 768px / 2);
	}

	.promo-wrap {
		height: 370px;
		background: url(../img/promo-bg.png) -22px bottom no-repeat;
		background-size: contain;
	}

	.self-time-navigation {
		display: none;
	}

	.promo-title {
		margin: 0;
		width: 40%;
		margin-left: 80px;
		margin-top: -10px;
		border-left: 12px solid $color-pink;
		padding-left: 16px;
	}

	.promo-title-bold {
		font-size: 44px;
		font-weight: 900;
	}

	.promo-title-normal {
		font-size: 24px;
	}

	.promo-title-color {
		font-size: 24px;
	}

	.category-item {
		height: 180px;
	}

	.additionally-wrap {
		flex-direction: column;
		padding: 50px 0px;
	}
}

@media (max-width: 767px) {
	.wrap {
		width: 320px;
		margin: 0 auto;
	}

	.center {
		padding: 0 calc(50% - 300px / 2);
	}

	.header-logo {
		padding: 0px 10px;
	}
	.header-burger {
		padding: 0px 10px;
	}
	.header-account-link {
		display: none;
	}
	.header-cart-link {
		display: none;
	}

	.promo-wrap {
		background: none;
		height: 360px;
	}
	.promo-title {
		width: 320px;
		margin-left: 40px;
	}
	.promo-title-bold {
		font-size: 34px;
		font-weight: 900;
	}
	.promo-title-normal {
		font-size: 20px;
	}
	.promo-title-color {
		font-size: 20px;
	}

	.category-item {
		width: 100%;
		height: 250px;
		margin: 10px;
		align-items: center;
	}
	.category-item-4 {
		height: 100px;
	}

	.items-cards {
		width: 300px;
	}

	.item-cart {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 70%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		background: rgba(58, 56, 56, 0.86);
		transition: 0.4s;
	}

	.additionally-wrap {
		padding: 20px 0px;
	}

	.subscribe-wrap {
		flex-direction: column;
	}
	.subscribe-face {
		width: 100%;
	}

	.footer {
		font-size: 16px;
		flex-direction: column-reverse;
		padding: 20px;
	}
}
