.items-title {
	text-align: center;
	font-size: 22px;
}

.items-title-text {
	font-size: 14px;
	font-weight: 300;
}

.items-cards {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-card {
	position: relative;
	width: 360px;
	margin-bottom: 30px;
}

.item-card:hover {
	cursor: pointer;
}

.item-cart {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 74%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	background: rgba(58, 56, 56, 0.86);
	transition: 0.4s;
}

.item-card:hover .item-cart {
	opacity: 1;
}

.card-add {
	cursor: pointer;
	padding: 15px 20px 15px 50px;
	background: url(../img/cart.png) 10% 50% no-repeat rgba(58, 56, 56, 0.86);
	border: 1px solid white;
	color: white;
}

.card-image {
	display: block;
	width: 100%;
}

.item-card-title {
	background-color: $color-gpay;
	font-size: 10px;
	padding: 20px 30px;
	letter-spacing: 1.2px;
}

.item-card-text {
	font-weight: 300;
	margin: 18px 0;
}

.item-card-price {
	font-size: 16px;
	color: $color-pink;
}

.item-botton {
	margin: 40px 0 100px;
	text-align: center;
}

.item-botton-link:hover {
	@include hover-botton;
}

.item-botton-link {
	margin: 0 auto;
	padding: 20px 40px;
	color: $color-pink;
	border: 1px solid $color-pink;
}

/* ====================================================== */
