* h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Lato", sans-serif;
}

a {
	text-decoration: none;
}

.wrap {
	width: 1140px;
	margin: 0 auto;
}

.center {
	padding: 0 calc(50% - 1140px / 2);
}

/* ====================================================== */
@import "../#source/bloks/common-header";

@import "../#source/bloks/cart/cart-promo";
@import "../#source/bloks/cart/cart-shopping";
@import "../#source/bloks/cart/cart-additionally";

@import "../#source/bloks/common-subscribe";
@import "../#source/bloks/common-footer";
