body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Lato", sans-serif;
}

a {
	text-decoration: none;
}

.forwomen {
	color: #f16d7f;
}

.wrap {
	width: 1140px;
	margin: 0 auto;
}

.center {
	padding: 0 calc(50% - 1140px / 2);
}

/* ====================================================== */

@import "../#source/bloks/common-variable";
@import "../#source/bloks/common-mixin";

@import "../#source/bloks/common-header";
@import "../#source/bloks/index/index-promo";
@import "../#source/bloks/index/index-menu";
@import "../#source/bloks/index/index-categories";
@import "../#source/bloks/index/index-items";
@import "../#source/bloks/common-additionally";
@import "../#source/bloks/common-subscribe";
@import "../#source/bloks/common-footer";

@import "../#source/bloks/common-selftime";

@media (max-width: 1160px) {
	.wrap {
		width: 767px;
	}

	.center {
		padding: 0 calc(50% - 768px / 2);
	}

	.additionally-wrap {
		flex-direction: column;
	}

	.promo-wrap {
		height: 370px;
		background: url(../img/promo-bg.png) -22px bottom no-repeat;
		background-size: contain;
	}

	.self-time-navigation {
		display: none;
	}

	.promo-title {
		margin: 0;
		width: 30%;
		margin-left: 64px;
		margin-top: -80px;
		border-left: 12px solid $color-pink;
		padding-left: 16px;
	}

	.promo-title {
		margin: 0;
		width: 40%;
		margin-left: 80px;
		margin-top: -10px;
		border-left: 12px solid $color-pink;
		padding-left: 16px;
	}

	.promo-title-bold {
		font-size: 44px;
		font-weight: 900;
	}

	.promo-title-normal {
		font-size: 24px;
	}

	.promo-title-color {
		font-size: 24px;
	}

	.category-item {
		height: 180px;
	}

	.additionally-wrap {
		padding: 50px 0px;
	}
}

@media (max-width: 767px) {
	.wrap {
		width: 320px;
		margin: 0 auto;
	}

	.center {
		padding: 0 calc(50% - 360px / 2);
	}

	.header-logo {
		padding: 0px 10px;
	}
	.header-burger {
		padding: 0px 10px;
	}
	.header-search-link {
		display: none;
	}
	.header-account-link {
		display: none;
	}
	.header-cart-link {
		display: none;
	}

	.promo-wrap {
		background: none;
		height: 360px;
	}
	.promo-title {
		width: 320px;
		margin-left: 40px;
	}
	.promo-title-bold {
		font-size: 34px;
		font-weight: 900;
	}
	.promo-title-normal {
		font-size: 20px;
	}
	.promo-title-color {
		font-size: 20px;
	}

	.category-item {
		width: 100%;
		height: 250px;
		marginb: 10px;
		align-items: center;
	}
	.category-item-4 {
		height: 100px;
	}

	.items-cards {
		width: 320px;
	}

	.additionally-wrap {
		padding: 20px 0px;
	}

	.subscribe-wrap {
		flex-direction: column;
	}
	.subscribe-face {
		width: 100%;
	}

	.footer {
		font-size: 16px;
		flex-direction: column-reverse;
		padding: 20px;
	}
}
