.product {
	position: relative;
	height: 780px;
	justify-content: center;
	align-items: center;
	display: flex;
	background: #f7f7f7;
}
.productarrow {
	cursor: pointer;
	text-align: center;
	position: absolute;
	width: 25px;
	height: 25px;
	border: none;
}

.image-product {
	max-width: 600px;
}

.productarrow-left {
	background: url(../img/arrowleft.png) center no-repeat;
	left: 10px;
}

.productarrow-right {
	background: url(../img/arrowright.png) center no-repeat;
	right: 10px;
}

.productarrow-left:hover {
	transition: 0.4s;
	background: url(../img/arrowhoverleft.png) center no-repeat;
	left: 10px;
}

.productarrow-right:hover {
	transition: 0.4s;
	background: url(../img/arrowhoverright.png) center no-repeat;
	right: 10px;
}

/* ====================================================== */
