.product {
	height: 780px;
	justify-content: space-around;
	align-items: center;
	display: flex;
	background: url(../img/productbg.png) center #f7f7f7 no-repeat;
}
.productarrow {
	text-align: center;
	width: 20px;
	height: 20px;
	padding: 10px 8px 8px;
	background-color: gray;
}

/* ====================================================== */
