.promo {
	background-color: #f1e4e6;
}

.promo-wrap {
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.promo-title {
	font-weight: normal;
	color: $color-pink;
}

.promo-navigation {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
}

.navigation-link {
	font-weight: 700;
	font-size: 14px;
	color: #636363;
}

.navigation-link-3 {
	color: $color-pink;
	font-weight: 700;
}

.navigation-link:hover {
	@include hover-text;
}

/* ====================================================== */
