.additionally {
	background-color: #222224;
}

.additionally-wrap {
	padding: 100px 0;
	text-align: center;
	display: flex;
	justify-content: space-between;
	color: white;
}

.additionally-card {
	width: 360px;
	padding: 0px 20px;
	box-sizing: border-box;
}

.additionally-subtitle {
	margin: 20px 0;
}

.additionally-text {
	font-weight: 300;
}

/* ====================================================== */
