.items-filter {
	position: relative;
	margin: 50px 0;
	display: flex;
}

.item-filter {
	position: absolute;
	background-color: white;
	width: 360px;
	z-index: 2;
}

.item-filter-box {
	z-index: 2;
	position: absolute;
	background-color: white;
}

.filter-box {
	background: url(../img/arrow-filter.png) 98% 50% no-repeat;
}

.item-filter-box-1 {
	right: 50%;
	width: 170px;
}

.item-filter-box-2 {
	right: 40%;
	width: 80px;
}

.item-filter-box-3 {
	width: 90px;
	padding-right: 80px;
	right: 22%;
}

.filter {
	padding: 20px;
	cursor: pointer;
	display: block;
	outline: none;
	margin-right: 100px;
	color: rgb(2, 1, 1);
	background: url(../img/filter.svg) 80px 22.5px no-repeat;
}

.filter:hover {
	padding: 20px;
	cursor: pointer;
	display: block;
	outline: none;
	margin-right: 100px;
	color: $color-pink;
	background: url(../img/filter.png) 80px 22.5px no-repeat;
	transition: 0.3s;
}

.filter-box {
	padding: 20px;
	cursor: pointer;
	display: block;
	outline: none;
}

.filter-box:hover {
	@include hover-text;
}

.subfilter {
	cursor: pointer;
	display: block;
	outline: none;
	margin: 10px 20px;
	padding: 10px;
	border-left: 5px solid $color-pink;
	border-bottom: 1px solid #ebebeb;
}

.filter-link {
	display: block;
	margin: 15px 0px 0 45px;
	padding-bottom: 10px;
	color: gray;
}

.list-group-filter {
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.list-group-filter-1 {
	margin: 0px auto -10px;
	width: 130px;
}

.list-group-filter-2 {
	margin: 0 auto -10px;
	width: 40px;
}

.list-group-filter-3 {
	margin: 0 auto -10px;
	width: 130px;
}

.list-group-item {
	list-style: none;
	width: 100px;
	margin: 10px -25px;
	padding: 5px;
}
.list-group-item-3 {
	list-style: none;
	width: 150px;
}

.items-cards {
	margin-top: 80px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-card {
	position: relative;
	width: 360px;
	margin-bottom: 30px;
}

.item-card:hover {
	cursor: pointer;
}

.item-cart {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 74%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	background: rgba(58, 56, 56, 0.86);
	transition: 0.4s;
}

.item-card:hover .item-cart {
	opacity: 1;
}

.card-add {
	cursor: pointer;
	padding: 15px 20px 15px 50px;
	background: url(../img/cart.png) 10% 50% no-repeat rgba(58, 56, 56, 0.86);
	border: 1px solid white;
	color: white;
}

.item-card-title {
	background-color: #f8f8f8;
	font-size: 10px;
	padding: 20px 30px;
	letter-spacing: 1.2px;
}

.item-card-text {
	font-weight: 300;
	margin: 18px 0;
}

.item-card-price {
	font-size: 16px;
	color: $color-pink;
}

.items-navigation-list {
	padding: 15px 15px 10px;
	margin: 50px auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
}

.page-link {
	color: #c4c4c4;
}

.page-link:hover {
	@include hover-text;
}

/* ====================================================== */
