.item-filter {
	z-index: 100;
	display: none;
	padding: 50px 25px 0px;
	background-color: white;
	width: 232px;
	position: absolute;
	top: 58px;
	right: 0px;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

summary::-o-details-marker {
	display: none;
}

.close {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../img/close.png) no-repeat;
}

.filter {
	display: block;
	outline: none;
}
.subfilters {
	cursor: pointer;
	display: block;
	outline: none;
	margin: 20px 0px;
	color: $color-pink;
}

.filter-link {
	color: gray;
	display: block;
	margin: 0px 0px 10px 30px;
}

.menuburger {
	display: none;
	opacity: 0;
	// display: none;
}

.menuburger:checked ~ .item-filter {
	display: block;
}

.menuburger:not(:checked) ~ .close {
	opacity: 0;
}

@media (max-width: 400px) {
	.item-filter {
		min-width: 320px;
		max-width: 400px;
		box-sizing: border-box;
	}
}
