.header {
	box-sizing: border-box;
	background-color: #222;
	padding: 20px 0px;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-burger {
	cursor: pointer;
}

.header-logo-link {
	cursor: pointer;
	margin-right: 20px;
}

.header-account-link {
	cursor: pointer;
	margin: 0 20px;
}

.header-right {
	position: relative;
}

/* ====================================================== */
