.promo {
	background-color: #f1e4e6;
}

.promo-wrap {
	height: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.promo-title {
	font-weight: normal;
	color: #f16d7f;
}

/* ====================================================== */
