.shopping {
	display: flex;
}

.menu {
}
.items {
}
.item-card {
	display: flex;
	width: 650px;
	height: 300px;
	margin-bottom: 40px;
}
.image-card {
}
.price-card {
	margin: 30px;
}
.price-cart-title {
	margin-bottom: 30px;
}

.price-cart-text {
}

.card-text {
	margin-bottom: 10px;
}
.card-text-info {
}

.card-text-info-1 {
	color: #f16d7f;
}

.aside {
}
.shipping {
}
.adress-shipping {
	margin-top: 30px;
}
.shipping-state {
	display: flex;
	flex-direction: column;
	margin: 20px 0 70px;
}
.shipping-name {
	padding: 10px 90px 10px 10px;
	margin-bottom: 20px;
}
.shipping-submit {
	padding: 10px;
	font-size: 14px;
	align-self: flex-start;
}
.price-shipping {
	background-color: rgba(138, 138, 138, 0.3);
}
.subtotal-shipping {
}
.subtotal-shipping-price {
}
.grandtotal-shipping {
	position: relative;
	margin: 20px 0 40px;
}

.grandtotal-shipping::after {
	position: absolute;
	content: "";
	width: 200px;
	height: 1px;
	top: 35px;
	left: calc(50% - 100px);
	background-color: red;
}

.grandtotal-shipping-price {
}
.checkout-shipping {
}
